body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #533738;
	width: 100vw;
	padding: 0;
	margin: 0;
	background-color: #EFE6E4;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.container_small {
	width: 1040px;
	margin: 0 auto;
}

a {
	color: currentColor;
	text-decoration: none;
}

.title {
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.button {
	display: block;
	font-weight: medium;
	font-size: 20px;
	width: 309px;
	padding: 25px 66px;
	background-color: #CC8B86;
	transition: transform 0.2s ease-in;
}

.button:hover,
.button:focus {
	background-color: rgba(204, 139, 134, 0.8);
	transform: scale(0.95);
}

.header {
	background: url('img/hero.png');
	min-height: 715px;
	padding-top: 36px;
	margin-bottom: 65px;
	background-repeat: no-repeat;
	background-size: cover;
}

.nav {
	display: grid;
	grid-template-columns: 65px 1fr 145px;
	margin-bottom: 95px;
}

.nav_list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 90px;
}

.nav_item {
	position: relative;
	margin-right: 26px;
}

.nav_item::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: initial;
	right: 0;
	width: 0;
	height: 2px;
	background: rgba(83, 55, 56, 0.5);
	transition: width 0.45s ease-in;
}

.nav_item:hover{
	color: rgba(83, 55, 56, 0.5);
}

.nav_item:hover::before,
.nav_item:focus::before {
	left: 0;
	width: 100%;
}

.nav_link:focus {
	color: rgba(83, 55, 56, 0.5);
}

.hero {
	width: 534px;
}

.hero_title {
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 62px;
	color: #533738;
}

.hero_description {
	width: 410px;
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 30px;
}

.about {
	margin-bottom: 65px;
}

.about .container_small {
	margin-bottom: 20px;
}

.about_title {
	text-align: center;
	/*font-size: 50px;*/
	margin-bottom: 40px;
}

.about_wrapper {
	display: flex;
	column-gap: 64px;
}

.about_photo {
}

.about_description {
	font-size: 18px;
	line-height: 30px;
}

.about_footer {
	background-color: #8D7370;
	padding-top: 85px;
	padding-bottom: 80px;
}

.experience {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.experience_item {
	font-size: 50px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.experience_item > span {
	font-size: 30px;
	line-height: 37px;
}

.our_works {
	margin-bottom: 65px;
}

.our_works > .container {
	display: grid;
}

.our_works_title {
	margin-bottom: 40px;
}

.gallery {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: dense;
	column-gap: 20px;
	grid-row-gap: 30px;
	margin-bottom: 40px;
}

.gallery_item {
	position: relative;
}

.gallery_item-2 {
	grid-column: span 2;
}

.gallery_item-3 {
	grid-column: span 2;
}

.gallery_item-hidden {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 86px 35px 40px 35px;
	color: #fff;
	background-color: rgba(100, 72, 69, 0.8);
	opacity: 0;
	transition: opacity 0.23s ease-in;
}

.gallery_item-hidden h3{
	font-size: 30px;
	font-weight: medium;
	line-height: 40px;
	width: 300px;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.gallery_item-hidden p {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
}

.gallery_item:hover .gallery_item-hidden {
	opacity: 1;
}

.our_works__button {
	position: relative;
	display: inline-block;
	font-size: 30px;
	font-weight: medium;
	/*margin-left: 480px;*/
	margin: 0 auto;
}

.our_works__button::after {
	content: '';
	position: absolute;
	right: -70px;
	top: 10px;
	width: 63px;
	height: 20px;
	background-image: url('img/Arrow-3.png');
	background-repeat: no-repeat;
}	

.our_works__button:hover,
.our_works__button:focus {
	opacity: 0.7;
}

.team {
	background-color: #E2C4BA;
	padding-top: 50px;
	padding-bottom: 80px;
	margin-bottom: 65px;
}

.team_title {
	text-align: center;
	margin-bottom: 40px;
}

.people_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
}

.people {
	width: 320px;
}

.step_works_title {
	text-align: center;
	margin-bottom: 60px;
}

.steps_list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.steps_item {
	width: 285px;
	text-align: center;
}

.steps_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	background-color: #8D7370;
	border-radius: 50%;
	font-size: 30px;
	color: #fff;
	margin: 0 auto;
}

.reviews {
	padding-bottom: 65px;
}

.reviews_title {
	text-align: center;
	margin-bottom: 40px;
}

.reviews_slider {
	display: grid;
	grid-template-columns: 72px 834px 72px;
	justify-content: space-between;
	align-items: center;
}

.reviews_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 20px;
}

.reviews_text {
	font-size: 18px;
	line-height: 30px;
}

.reviews_photo img:first-of-type {
	margin-bottom: 24px;
}

.reviews_button {
	width: 72px;
	height: 72px;
	border: none;
	border-radius: 50%;
	background: #CC8B86 url('img/arrow-prev.png') no-repeat center center;
	transition: transform 0.2s ease-out;
	cursor: pointer;
}

.reviews_button:hover {
	background-color: rgba(204, 139, 134,0.76);
	transform: scale(0.95);
}

.reviews_next {
	background-image: url('img/arrow-next.png');
}

.application {
	background-color: #8D7370;
}

.application .container{
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
}

.application_title {
	color: #fff;
	margin-bottom: 24px;
}

.wrapper_form {
	padding-top: 50px;
	font-size: 18px;
	line-height: 30px;
	color: #FFF;
}

.application_description {
	padding-right: 140px;
	margin-bottom: 44px;
}

.application_form {
	display: flex;
	flex-direction: column;
}

.application_form input {
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	background: none;
	border: none;
	border-bottom: 1px solid #fff;
	margin-bottom: 33px;
}

.application_form input:focus {
	border-color: #CC8B86;
}

.application_button {
	border: none;
	color: #533738;
}

.application_map {
	margin-bottom: -5px;
}

.footer {
	padding: 20px 0;
}

.footer .container {
	display: flex;
}

.footer_phone {
	margin-right: 42px;
}

.footer_info {
	margin-left: auto;
}